<!DOCTYPE html>
<html lang="en">
<head th:replace="common_frame/header/main_header :: headerFragment"></head>
<body>
<form th:action="@{/create}" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input class="form-control" id="exampleFormControlInput1" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">본문</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="article"></textarea>
    </div>
    <button class="btn btn-outline-success" type="submit">submit</button>
</form>
</body>
</html>